# -*- mode: gitignore; -*-

# Unix
.*


# Git
!.gitignore


# Project
!.config
!.*.example
!.envrc
!.ignore
!.spelling
!.treefmt.toml
bindings/
logs/
TODOs.org
devenv.local*


# Rust
!.cargo
!.rustfmt.toml
/target
